<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Manager Information Page</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
   </head>
   <body>
      <header>
         <div class="container">
            <h1 class="logo">Company Management Tool</h1>
            <strong>
               <nav>
                  <ul class="menu">
                     {%if session['logged_in'] != True%}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                     {%else%}
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                     {% endif %}
                  </ul>
               </nav>
            </strong>
         </div>
      </header>
      <h1> Welcome: </h1>
      <form action="/logout">
        <input type="submit" value="Log Out" class="btn btn-primary btn-large btn-block">
     </form>
     <form action="/adduser">
        <input type="submit" value="Add User" class="btn btn-primary btn-large btn-block">
     </form>
   </body>
</html>