<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>User Information Page</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
   </head>
   <body>
      <header>
         <div class="container">
            <h1 class="logo">Company Management Tool</h1>
            <strong>
               <nav>
                  <ul class="menu">
                     {%if session['logged_in'] != True%}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                     {%else%}
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                     {% endif %}
                  </ul>
               </nav>
            </strong>
         </div>
      </header>
      <h1> Welcome: {{data[0][1]}} {{data[0][2]}}</h1>
      <table style="width:50%"> 
        <tr> 
            <th>User Id: </th>
            <td>{{data[0][0]}} </td>
        </tr>
        <tr> 
            <th>Position: </th>
            <td>{{data[0][3]}}</td>
        </tr>
        <tr> 
            <th>Salary: </th>
            <td>{{data[0][4]}}</td>
        </tr>
        <tr> 
            <th>City: </th>
            <td>{{data[0][5]}}</td>
        </tr>
        <tr> 
            <th>Department ID: </th>
            <td>{{data[0][6]}}</td>
        </tr>
      </table> 

      <form action="/logout">
        <input type="submit" value="Log Out" class="btn btn-primary btn-large btn-block">
     </form>
   </body>
</html>